:root {

    /* Palette */
    --palette--midnight--blue--1000: rgba(1, 11, 35, 1);
    --palette--midnight--blue--900: rgba(21, 29, 53, 1);
    --palette--midnight--blue--800: rgba(40, 48, 72, 1);
    --palette--midnight--blue--700: rgba(53, 61, 85, 1);
    --palette--midnight--blue--600: rgba(74, 82, 107, 1);
    --palette--midnight--blue--500: rgba(108, 116, 140, 1);
    --palette--midnight--blue--400: rgba(152, 160, 181, 1);
    --palette--midnight--blue--300: rgba(188, 195, 212, 1);
    --palette--midnight--blue--200: rgba(221, 227, 240, 1);
    --palette--midnight--blue--100: rgba(230, 234, 245, 1);
    --palette--midnight--blue--50: rgba(245, 246, 250, 1);
    --palette--ruby--red--900: rgba(54, 0, 30, 1);
    --palette--ruby--red--800: rgba(92, 0, 49, 1);
    --palette--ruby--red--700: rgba(130, 0, 65, 1);
    --palette--ruby--red--600: rgba(168, 0, 79, 1);
    --palette--ruby--red--500: rgba(206, 0, 88, 1);
    --palette--ruby--red--400: rgba(219, 35, 109, 1);
    --palette--ruby--red--300: rgba(232, 74, 132, 1);
    --palette--ruby--red--200: rgba(245, 118, 160, 1);
    --palette--ruby--red--100: rgba(255, 163, 191, 1);
    --palette--ruby--red--50: rgba(255, 230, 236, 1);
    --palette--sky--blue--900: rgba(0, 33, 50, 1);
    --palette--sky--blue--800: rgba(0, 64, 94, 1);
    --palette--sky--blue--700: rgba(0, 95, 141, 1);
    --palette--sky--blue--600: rgba(0, 130, 193, 1);
    --palette--sky--blue--500: rgba(0, 164, 244, 1);
    --palette--sky--blue--400: rgba(42, 192, 250, 1);
    --palette--sky--blue--300: rgba(73, 212, 254, 1);
    --palette--sky--blue--200: rgba(150, 230, 254, 1);
    --palette--sky--blue--100: rgba(205, 243, 255, 1);
    --palette--sky--blue--50: rgba(241, 252, 255, 1);
    --palette--polar--green--900: rgba(9, 43, 0, 1);
    --palette--polar--green--800: rgba(20, 82, 0, 1);
    --palette--polar--green--700: rgba(36, 120, 3, 1);
    --palette--polar--green--600: rgba(57, 158, 12, 1);
    --palette--polar--green--500: rgba(83, 196, 25, 1);
    --palette--polar--green--400: rgba(116, 209, 61, 1);
    --palette--polar--green--300: rgba(150, 222, 100, 1);
    --palette--polar--green--200: rgba(183, 235, 143, 1);
    --palette--polar--green--100: rgba(217, 247, 190, 1);
    --palette--polar--green--50: rgba(246, 255, 237, 1);
    --palette--gold--900: rgba(97, 52, 0, 1);
    --palette--gold--800: rgba(135, 77, 0, 1);
    --palette--gold--700: rgba(173, 104, 0, 1);
    --palette--gold--600: rgba(212, 136, 6, 1);
    --palette--gold--500: rgba(250, 173, 20, 1);
    --palette--gold--400: rgba(255, 197, 61, 1);
    --palette--gold--300: rgba(255, 214, 102, 1);
    --palette--gold--200: rgba(255, 229, 143, 1);
    --palette--gold--100: rgba(255, 241, 184, 1);
    --palette--gold--50: rgba(255, 251, 230, 1);
    --palette--dust--red--900: rgba(92, 0, 17, 1);
    --palette--dust--red--800: rgba(130, 0, 20, 1);
    --palette--dust--red--700: rgba(168, 7, 26, 1);
    --palette--dust--red--600: rgba(207, 19, 34, 1);
    --palette--dust--red--500: rgba(245, 34, 45, 1);
    --palette--dust--red--400: rgba(255, 77, 79, 1);
    --palette--dust--red--300: rgba(255, 120, 117, 1);
    --palette--dust--red--200: rgba(255, 163, 158, 1);
    --palette--dust--red--100: rgba(255, 204, 199, 1);
    --palette--dust--red--50: rgba(255, 241, 240, 1);

    /* Colors */
    --color--white: rgba(255, 255, 255, 1);
    --color--black: rgba(0, 0, 0, 1);
    --color--brand: rgba(206, 0, 88, 1);
    --color--link: rgba(51, 196, 212, 1);
    --color--point--background--not-reachable: rgba(21, 29, 53, 1);
    --color--point--background--default: rgba(74, 82, 107, 1);
    --color--point--background--selected: rgba(206, 0, 88, 1);
    --color--point--border--default: rgba(255, 255, 255, 1);
    --color--point--border--not-reachable: rgba(40, 48, 72, 1);
    --color--field--default: rgba(108, 116, 140, 0.36);
    --color--misc--overlay: rgba(1, 11, 35, 0.8);
    --color--misc--focused: rgba(15, 173, 199, 1);
    --color--disabled--container: rgba(245, 246, 250, 0.08);
    --color--background--default: rgba(1, 11, 35, 1);
    --color--background--hover: rgba(108, 116, 140, 0.16);
    --color--background--selected: rgba(108, 116, 140, 0.24);
    --color--background--active: rgba(108, 116, 140, 0.4);
    --color--layer-1--default: rgba(21, 29, 53, 1);
    --color--layer-1--selected: rgba(40, 48, 72, 1);
    --color--layer-1--active: rgba(53, 61, 85, 1);
    --color--layer-1--accent: rgba(40, 48, 72, 1);
    --color--layer-2--default: rgba(40, 48, 72, 1);
    --color--layer-2--selected: rgba(53, 61, 85, 1);
    --color--layer-2--active: rgba(74, 82, 107, 1);
    --color--layer-2--accent: rgba(53, 61, 85, 1);
    --color--interactive--default: rgba(206, 0, 88, 1);
    --color--interactive--active: rgba(168, 0, 79, 1);
    --color--action--primary--default: rgba(0, 164, 244, 1);
    --color--action--primary--active: rgba(0, 139, 209, 1);
    --color--action--secondary--default: rgba(74, 82, 107, 1);
    --color--action--secondary--active: rgba(53, 61, 85, 1);
    --color--text--disabled: rgba(74, 82, 107, 1);
    --color--text--primary: rgba(255, 255, 255, 1);
    --color--text--secondary: rgba(245, 246, 250, 0.65);
    --color--text--placeholder: rgba(245, 246, 250, 0.44);
    --color--text--on-color: rgba(255, 255, 255, 1);
    --color--border--strong: rgba(108, 116, 140, 0.68);
    --color--border--subtle: rgba(108, 116, 140, 0.36);
    --color--border--disabled: rgba(108, 116, 140, 0.36);
    --color--unity--tcp: rgba(168, 168, 168, 1);
    --color--unity--axis--x: rgba(181, 34, 34, 1);
    --color--unity--axis--y: rgba(40, 175, 40, 1);
    --color--unity--axis--z: rgba(0, 69, 255, 1);
    --color--path--default: rgba(255, 255, 255, 1);
    --color--path--not-reachable: rgba(40, 48, 72, 1);
    --color--support--succes--strong: rgba(116, 209, 61, 1);
    --color--support--succes--subtle: rgba(9, 43, 0, 0.9);
    --color--support--error--subtle: rgba(92, 0, 17, 0.9);
    --color--support--error--strong: rgba(255, 77, 79, 1);
    --color--support--warning--subtle: rgba(97, 52, 0, 0.9);
    --color--support--warning--strong: rgba(255, 197, 61, 1);
    --color--support--highlight--subtle: rgba(0, 34, 46, 0.9);
    --color--support--highlight--strong: rgba(51, 196, 212, 1);

    /* Text sizes */
    --text-size--h1: 96px;
    --text-size--h2: 60px;
    --text-size--h3: 48px;
    --text-size--h4: 34px;
    --text-size--h5: 24px;
    --text-size--h6: 20px;
    --text-size--subtitle-1: 16px;
    --text-size--subtitle-2: 14px;
    --text-size--body-1: 16px;
    --text-size--body-2: 14px;
    --text-size--button: 14px;
    --text-size--caption: 12px;
    --text-size--overline: 12px;

    /* Font family */
    --font-family--h1: 'Inter', sans-serif;
    --font-family--h2: 'Inter', sans-serif;
    --font-family--h3: 'Inter', sans-serif;
    --font-family--h4: 'Inter', sans-serif;
    --font-family--h5: 'Inter', sans-serif;
    --font-family--h6: 'Inter', sans-serif;
    --font-family--subtitle-1: 'Inter', sans-serif;
    --font-family--subtitle-2: 'Inter', sans-serif;
    --font-family--body-1: 'Inter', sans-serif;
    --font-family--body-2: 'Inter', sans-serif;
    --font-family--button: 'Inter', sans-serif;
    --font-family--caption: 'Inter', sans-serif;
    --font-family--overline: 'Inter', sans-serif;

    /* Font weight */
    --font-weight--h1: 700;
    --font-weight--h2: 700;
    --font-weight--h3: 600;
    --font-weight--h4: 600;
    --font-weight--h5: 600;
    --font-weight--h6: 700;
    --font-weight--subtitle-1: 600;
    --font-weight--subtitle-2: 700;
    --font-weight--body-1: 400;
    --font-weight--body-2: 400;
    --font-weight--button: 700;
    --font-weight--caption: 400;
    --font-weight--overline: 400;

    /* Line height */
    --line-height--h1: 112px;
    --line-height--h2: 72px;
    --line-height--h3: 56px;
    --line-height--h4: 40px;
    --line-height--h5: 32px;
    --line-height--h6: 32px;
    --line-height--subtitle-1: 20px;
    --line-height--subtitle-2: 20px;
    --line-height--body-1: 20px;
    --line-height--body-2: 20px;
    --line-height--button: 24px;
    --line-height--caption: 20px;
    --line-height--overline: 20px;

    /* Letter spacing */
    --letter-spacing--h1: normal;
    --letter-spacing--h2: normal;
    --letter-spacing--h3: normal;
    --letter-spacing--h4: normal;
    --letter-spacing--h5: normal;
    --letter-spacing--h6: normal;
    --letter-spacing--subtitle-1: normal;
    --letter-spacing--subtitle-2: normal;
    --letter-spacing--body-1: normal;
    --letter-spacing--body-2: normal;
    --letter-spacing--button: normal;
    --letter-spacing--caption: 0.4px;
    --letter-spacing--overline: 1px;

}