name: check

on:
  pull_request:
    branches:
      - main
      - v2
      - v3

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: pnpm install
      - run: pnpm run tsc

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: pnpm install
      - run: pnpm exec playwright install --with-deps chromium
      - run: pnpm run ci:test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: pnpm install
      - run: pnpm run build
